@import url(../../Cesium/Widgets/widgets.css);

body {
  font-family: arial;
  overflow: hidden;
}

textarea {
  padding: 6px;
}

#cesiumContainer {
    position:absolute; top:0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

.medw { width: 70px; }

@-webkit-keyframes title-color-cycle {
    0% { text-shadow: 0 0 14px #E4DB85; }  /* Yellow */
   20% { text-shadow: 0 0 14px #F28181; }  /* Red */
   40% { text-shadow: 0 0 14px #E281F2; }  /* Purple */
   60% { text-shadow: 0 0 14px #81CBF2; }  /* Cyan */
   80% { text-shadow: 0 0 14px #95F281; }  /* Green */
  100% { text-shadow: 0 0 14px #E4DB85; }  /* Yellow (return to original) */
}

@keyframes title-color-cycle {
    0% { text-shadow: 0 0 14px #E4DB85; }  /* Yellow */
   20% { text-shadow: 0 0 14px #F28181; }  /* Red */
   40% { text-shadow: 0 0 14px #E281F2; }  /* Purple */
   60% { text-shadow: 0 0 14px #81CBF2; }  /* Cyan */
   80% { text-shadow: 0 0 14px #95F281; }  /* Green */
  100% { text-shadow: 0 0 14px #E4DB85; }  /* Yellow (return to original) */
}

.title {
    position: relative;
    font-family: Impact;
    font-size: 50pt;
    color: #edffff;
    text-shadow: 0 0 14px #E4DB85;
    -webkit-animation: title-color-cycle 5s infinite;
    animation: title-color-cycle 5s infinite;
}

.bottomControls {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -405px;
    width: 810px;
    color: #edffff;
    background-color: rgba(42, 42, 42, 0.35);
    box-shadow: 0 0 12px rgba(42, 42, 42, 1);
    padding: 5px 8px;
    border-radius: 10px;
}
