@media screen {
  * { font-family: arial, helvetica, sans-serif; }
  
  body {
    margin: 0;
  }
  
  h1 {
    font-size: 16pt;
    font-weight: bold;
    padding-left: 10px;
  }
  
  h2 {
    font-size: 12pt;
    font-weight: bold;
  }
  
  h2:first-child {
    margin-top: 0;
  }
  
  dl {
    clear: both;
  }
  
  dt {
    font-size: small;
    font-weight: bold;
    
    float: left;
    width: 15em;
    clear: left;
  }
  
  dd {
    font-size: small;
    margin: 0;
  }
  
  dt, dd {
    padding-bottom: 1em;
  }
  
  .dp-c li span {
    font-family: monospace;
  }
  
  pre {
    padding: 8px !important;
    border: 1px solid #eee !important;
    background-color: #fff;
    overflow: scroll; 
    max-height: 600px;
    max-width: 600px;
    
  }
  
  pre * {
    font-family: monospace;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #cesiumContainer, #page, #preview, #source{
    margin: 0; overflow: hidden;
  }
  
  #cesiumContainer {
    height: 520px;
    width: 648px;
    padding: 10px;
  }

  #preview {
    
    height: 100%;
    float: left;
  }
  #source {
    padding: 10px;
    float: left;
  }
  #resources {
    padding: 10px;
    width: 648px;
  }
  
  @media screen and (min-width: 1000px) {
      #source {
        width: calc(100% - 688px);
      }
      
    #resources {
        position: absolute;
        top: 600px;
    }
  }

  @media screen and (max-width: 1000px) {
    #source {
      width: 600px;
    }
      
    #resources {
      float: left;
    }
  }
}
